

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	/* ---------------------------------
	4. ABOUT SECTION
	--------------------------------- */

	/* COUNTER SECTION */

	.intro-section ul.social-icons,
	.intro-section .cv-download	{
		text-align: center;
	}

	.intro-section{ background-image: url(../images/responsive-intro.jpg); }
	.counter{ display: inline-block; }
	
	.counter .desc{ text-align: left; }
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
		/* ---------------------------------
	7. EDUCATION SECTION
	--------------------------------- */

	.education-wrapper:after,
	.education-wrapper .education:after{ display: none; }
}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	p{ line-height: 1.4; }

	h1{ font-size: 3em; }
	h2{ font-size: 2em; }
	h3{ font-size: 1.8em; }

	/* ---------------------------------
	2. COMMONS FOR PAGE DESIGN
	--------------------------------- */
	.section{ padding: 50px 0 0px; }

	.section .heading{ margin-bottom: 30px; }

	
	/* ---------------------------------
	3. INTRO SECTION
	--------------------------------- */

	/* INTRO */
	.intro .downlad-btn{ float: none; }
}

/* Screens Resolution : 575px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 575px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 14px;  }
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {


}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {
	
	

}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {

	
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 260px) {

	
}

@media screen and (max-width: 768px) {
	.testimonials {
		max-height: 700px;
	}
	.icon-overlay {
		height: 300px;
		top: calc(50% - 150px);
	}
	.carousel-controls .control {
		width: 25px;
		height: 25px;
		top: inherit;
	}
	.prev {
		left: 0;
	}
	.next {
		right: 0;
	}
	.control i {
		font-size: .7rem;
	}
	.testimonials .message {
		font-size: 1rem;
	}
	.testimonials h2 {
		font-size: 1.5rem;
	}
}