
/*

====================================================

	TOC

	1. PRIMARY STYLES
	2. COMMONS FOR PAGE DESIGN
	3. INTRO SECTION
	4. ABOUT SECTION
	5. SKILL SECTION
	6. STATISTICS SECTION
		 COUNTER SECTION
	7. EXPERIENCE SECTION
	8. EDUCATION SECTION
	9. TESTIMONIALS SECTION
	10.FOOTER

====================================================


/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */

html{ font-size: 100%; height: 100%; width: 100%; overflow-x: hidden; margin: 0px; 
	padding: 0px; touch-action: manipulation; }


body{ font-size: 16px; font-family: 'Poppins', serif; width: 100%; margin: 0; 
	font-weight: 400; word-wrap: break-word; color: #333;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button{ margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

h1,h2,h3{ font-family: 'Poppins', cursive; }

p{ line-height: 1.6; font-size: 1em; font-weight: 400; color: #777; }

h1{ font-size: 4em; line-height: 1; }
h2{ font-size: 2.2em; line-height: 1.1; }
h3{ font-size: 1.8em; }
h4{ font-size: 1.3em; }
h5{ font-size: 1em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a, button{ display: inline-block; text-decoration: none; color: inherit; line-height: 1; 
	-webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #009692; }

b{ font-weight: 600; }

img{ width: 100%; }

li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

.icon{ font-size: 1.1em; display: inline-block; line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before{ line-height: inherit; }

b.max-bold{ font-weight: 700; }


/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.section{ padding: 100px 0 50px; border-bottom: 1px solid #ddd; }

.section .heading{ margin-bottom: 60px;}

.section .heading:before{ content:''; height: 10px; width: 50px; border-radius: 5px;
	margin: 0 auto 20px; display: inline-block; background: #009692; }
	
.margin-t-10{ margin-top: 10px; }
.margin-t-30{ margin-top: 30px; }

.margin-b-10{ margin-bottom: 10px; }
.margin-b-20{ margin-bottom: 20px; }
.margin-b-30{ margin-bottom: 30px; }
.margin-b-50{ margin-bottom: 50px; }

.margin-tb-30{ margin-top: 30px; margin-bottom: 30px; }
.margin-tb-50{ margin-top: 50px; margin-bottom: 50px; }

.font-yellow{ color: #009692; }

.font-semi-white{ color: #ddd; }

.font-lite-black{ color: #999; }

.center-text{ text-align: center; }


/* ---------------------------------
3. INTRO SECTION
--------------------------------- */

.intro-section{ padding: 50px 0; position: relative; background-size: cover; 
	z-index: 1;background-image: url(../images/intro.jpg); }

.intro-section:before{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0; 
	right: 0; background: rgba(0,0,0, .2); }

	
/* HEADER */

.intro-section .heading-wrapper{ border-radius: 5px; padding: 30px 40px 20px; margin-bottom: 50px;
	background: #009692; color: #fff; }

.intro-section .info{ margin-bottom: 10px; }

.intro-section .info .icon{ float: left; font-size: 30px; }

.intro-section .info .right-area{ margin-left: 45px; }

.intro-section .info .right-area a:hover{ color: #ffffff; }


/* INTRO */

.intro{ color: #fff; }

.intro .profile-img{ max-width: 400px; border-radius: 5px; overflow: hidden; }

.intro .information > li{ display: block; margin: 5px 0; }

.intro .social-icons > li > a{ height: 35px; line-height: 35px; width: 35px; border-radius: 20px; 
	overflow: hidden; z-index: 1; position: relative; margin: 0 5px 5px; text-align: center;
	background: #009692; color: #fff; }

.intro .social-icons > li > a:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;
	top: 0; z-index: -1; border-radius: 20px; background: #009692;
	-webkit-transition: all .2s ease; transition: all .2s ease;
	-webkit-transform: scale(0); transform: scale(0); }

.intro .social-icons > li > a:hover:after{ -webkit-transform: scale(1); transform: scale(1); background: #fff;}
.intro .social-icons > li > a:hover {  color: #009692;}

.intro .downlad-btn{ padding: 15px 30px; border-radius: 4px; float: right; margin-top: 30px;
	box-shadow: inset 0 0px 4px rgba(0,0,0,.3); background: #009692; color: #fff;
	-webkit-transition: all .2s ease; transition: all .2s ease; }

.intro .downlad-btn:hover{ -webkit-transform: translateY(-4px); transform: translateY(-4px); background: #fff; color: #009692;}


/* ---------------------------------
4. ABOUT SECTION
--------------------------------- */

/* ---------------------------------
5. SKILLS SECTION
--------------------------------- */
.skills-section{ background: #FAF5FC; }

.skills-section .expert{ margin-top: 10px; display: inline-block; padding: 1px 25px 0;
	border-radius: 5px; background: #FFAB00; color: #fff; }

.tag {
	color: #fff;
	display: inline-block;
	text-align: center;
	margin: 3px 0px;
	padding: 0px 8px;
}

.ror-tag {
	background-color: darkred;
}
.angular-tag {
	background-color: #ec0010;
}
.react-tag {
	background-color: #4cd3fe;
}
.backbone-tag {
	background-color: #0d2644;
}

.pg-tag{
	background-color: #3c5991;
}
.sql-tag {
	background-color: #f79700;
}
.mongo-tag {
	background-color: #00b04c;
}
.sqlite-tag {
	background-color: #3a5bce;
}

.aws-tag {
	background-color: #d88a19;
}
.g-cloud-tag {
	background-color: #00bd59;
}
.heroku-tag {
	background-color: #753ba5;
}
.digitalocean-tag {
	background-color: #6000ff;
}
.engine-yard-tag {
	background-color: #f80000;
}

.github-tag {
	background-color: #282c32;
}
.bitbucket-tag {
	background-color: #3e00a5;
}
.gitlab-tag {
	background-color: #f32f00;
}

.jira-tag {
	background-color: #540be1;
}
.asana-tag {
	background-color: #ff6e4b;
}
.trello-tag {
	background-color: #2e5bbf;
}
.redmine-tag {
	background-color: #a50000;
}


/* ---------------------------------
6. STATISTICS SECTION
--------------------------------- */

.statistics-section{ padding: 40px 0 15px 0; position: relative; background-size: cover;
	z-index: 1; background-image: url(../images/slider-4-1920x600.jpg); color: #fff; }

.statistics-section:before{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0;
	right: 0; background: rgba(0,0,0, .8); }

.statistics-section .icon{ margin-bottom: 20px; height: 40px; width: 40px; line-height: 40px;
	border-radius: 30px; background: #FFAB00; color: #fff; }


/* COUNTER SECTION */

.counter{ position: relative; }

.counter .title{ color: #009692; text-align: right; margin-right: 130px; }

.counter .desc{ position: absolute; bottom: 4px; right: 0px; width: 110px; }


/* ---------------------------------
7. EXPERIENCE SECTION
--------------------------------- */
.experience .list > li{ display: block; position: relative; margin-bottom: 10px; padding-left: 20px; }

.experience .list > li:before{ content: ''; position: absolute; top: 50%; left: 0; height: 10px;
	width: 10px; margin-top: -5px; display: block; border-radius: 10px; border: 2px solid #555; }
	
/* ---------------------------------
8. EDUCATION SECTION
--------------------------------- */
.education-section{ background: #FAF5FC; }

.education-wrapper{ position: relative; }

.education-wrapper:after{ content:''; position: absolute; top: 8px; bottom: 0; left: -51px;
	width: 2px; background: #ccc; }

.education-wrapper .education{ position: relative; }

.education-wrapper .education:after{ content:''; position: absolute; top: 8px; left: -58px; width: 16px;
	height: 16px; border-radius: 10px; z-index: 1;
	box-shadow: 0 0 0 8px rgba(255,171,0, .4); background: #FFAB00; }


/* ---------------------------------
9. TESTIMONIALS SECTION
--------------------------------- */

.testimonial-avatar{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.carousel-controls{
	font-family: 'Poppins', serif !important;
}

.one-slide,
.testimonial,
.message {
	border: none !important;
	outline: none !important;
}

.icon-overlay {
	position: absolute;
	opacity: 0.3;
	right: 10%;
	top: 0;
	height: auto;
	width: 100%;
	max-width: 400px;
}

.carousel-controls .control {
	position: absolute;
	color: #009692;
	transform: translateY(-50%);
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 2px solid #009692;;
	z-index: 1;
}

.prev {
	left: -2.25rem;
	margin-top: 7rem !important;
}

.next {
	right: -2.25rem;
	margin-top: 7rem !important;
}

/* ---------------------------------
10. FOOTER
--------------------------------- */

.copyright{ text-align: center; padding: 30px 0; background: #21253e; }

